
<footer>
  <div id="footer" class="py-3 py-md-6 py-xl-9 py-xxl-10">
    <div class="row justify-content-center">
      <div class="col-11">
        <section class="mb-4 mb-md-5 mb-xl-9 mb-xxl-10">
          <div class="row gy-4 gy-md-0">
            <div class="col-6 col-md-3">
              <div class="link-wrapper">
                <h4 class="mb-3 fs-6 text-light">Clients</h4>
                <ul class="m-0 list-unstyled">
                  <li class="mb-1">
                    <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      Templates
                    </a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      Enterprise
                    </a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      Extensions
                    </a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      Managers
                    </a>
                  </li>
                  <li>
                    <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      How to Hire
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="link-wrapper">
                <h4 class="mb-3 fs-6 text-light">Talent</h4>
                <ul class="m-0 list-unstyled">
                  <li class="mb-1">
                    <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      Operations
                    </a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      Marketing
                    </a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      Finance
                    </a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      Product
                    </a>
                  </li>
                  <li>
                    <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      Support
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="link-wrapper">
                <h4 class="mb-3 fs-6 text-light">Resources</h4>
                <ul class="m-0 list-unstyled">
                  <li class="mb-1">
                    <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      Community
                    </a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      Resources
                    </a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      Learning
                    </a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      Webinars
                    </a>
                  </li>
                  <li>
                    <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      Customers
                    </a>
                  </li>

                </ul>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="link-wrapper">
                <h4 class="mb-3 fs-6 text-light">Company</h4>
                <ul class="m-0 list-unstyled">
                  <li class="mb-1">
                    <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      About us
                    </a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      Leadership
                    </a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      Careers
                    </a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      Services
                    </a>
                  </li>
                  <li class="mb-1">
                    <a href="#!" class="link-opacity-75 link-underline-opacity-0 link-opacity-100-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      Contact Us
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <div class="mb-3">
          <div class="row">
            <div class="col-12">
              <div class="link-wrapper">
                <ul class="m-0 list-unstyled d-flex justify-content-center justify-content-md-start gap-3">
                  <li>
                    <a href="#!" class="fs-7 link-underline-opacity-0 link-opacity-75-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      Terms
                    </a>
                  </li>
                  <li>
                    <a href="#!" class="fs-7 link-underline-opacity-0 link-opacity-75-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      Privacy
                    </a>
                  </li>
                  <li>
                    <a href="#!" class="fs-7 link-underline-opacity-0 link-opacity-75-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      Advertise
                    </a>
                  </li>
                  <li>
                    <a href="#!" class="fs-7 link-underline-opacity-0 link-opacity-75-hover link-underline-opacity-100-hover link-offset-1 link-light">
                      Media
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Copyright - Bootstrap Brain Component -->
        <div class="border-top border-dark-subtle pt-3">
          <div class="row gy-3 align-items-center">
            <div class="col-12 col-md-6">
              <div class="copyright-wrapper d-block mb-1 fs-8 text-light text-center text-md-start">
                &copy; 2024. All Rights Reserved.
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="social-media-wrapper">
                <ul class="m-0 list-unstyled d-flex gap-3 justify-content-center justify-content-md-end">
                  <li>
                    <a href="#!" class="link-opacity-75-hover link-light">
                      <i class="fab fa-youtube" style="font-size: 22px;"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#!" class="link-opacity-75-hover link-light">
                      <i class="fab fa-facebook-f" style="font-size: 22px;"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#!" class="link-opacity-75-hover link-light">
                      <i class="fab fa-twitter" style="font-size: 22px;"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#!" class="link-opacity-75-hover link-light">
                      <i class="fab fa-linkedin-in" style="font-size: 22px;"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#!" class="link-opacity-75-hover link-light">
                      <i class="fab fa-instagram" style="font-size: 22px;"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>            
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> 